.register_bottom {
	border-bottom: 1px solid #ddd;
}
.author_img img {
	width: 100px;
	border: 1px solid #2E95B4;
	border-radius: 50%;
}
.author_img h5 {
	font-weight: bold;
	font-size: 22px;
}
.about_btn {
	border: 1px solid #2E95B4;
	color: #2E95B4;
	width: 30%;
	display: flex;
	padding: 5px 10px 6px 10px;
	justify-content: center;
	border-radius: 36px;
	font-size: 17px;
	align-items: center;
	height: 58px;
	font-weight: 600;
}
/* side menu css */
.side-navbar {
  
  background-color: #2E95B4;
  transition: 0.5s;
}
.menu_dp {
	padding: 25px;
	display: flex;
}
.dp_contant {
	margin-left: 10px;
	padding-top: 10px;
}
.dp_contant h4 {
	color: #fff;
	margin-bottom: 0;
	line-height: 28px;
	font-size: 20px;
	font-weight: 600;
}
  .dp_contant p{color: #fff;
  margin-bottom: 0;
  font-size: 14px;}
.side-bar-menu li{color: #fff !important;text-align: center;cursor: pointer;}
.side-bar-menu li span{font-size: 18px;margin-right: 40px !important;}
.side-bar-menu li i{font-size: 18px;}
.nav-link:active,
.nav-link:focus,
.nav-link:hover {
  background-color: #ffffff26;
}

.hg-s img{width: 60px;}
.bc-r h5{font-weight: 600;}
.intiative_box{background-color: #eee;}
.td-actions a{padding: 2px 10px;
  background-color: #2E95B4;
  color: #fff !important;border-radius: 3px;cursor: pointer;}
.td-actions a i{font-size: 16px;}
.user_table thead tr th{background-color: #2E95B4;
  color: #fff;
  padding-left: 15px;}
  .user_table tbody tr td{
  padding-left: 15px;font-size: 15px;
}


ul { list-style-type: none; }

a {
  color: #b63b4d;
  text-decoration: none;
}


.accordion {
  width: 100%;
  max-width: 100%;
  margin: 30px auto 20px;
  background: #2E95B4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 0px;
  padding: 0;
  height: 500px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 60px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #2F7D94;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 25px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 25px;
  left: auto;
  font-size: 16px;
}

.accordion li.open .link {     color: #fff; }

.accordion li.open i { color: #fff;}

.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}


.submenu {
  display: none;
  background: #256B7F;
  font-size: 14px;
  padding: 0;
}

.submenu li { border-bottom: 1px solid #2F7D94; }

.submenu a {
  display: block; 
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #2F7D94;
  color: #FFF;
}


.dataTables_length label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}

.dataTables_length select {
  display: inline-block;
  width: auto;
}
.dataTables_length .form-select-sm {
  border-radius: var(--bs-border-radius-sm);
  font-size: .75rem;
  padding-bottom: .2rem;
  padding-left: .5rem;
  padding-top: .2rem;
}
.dataTables_filter{
  text-align: right;
}
.dataTables_filter label {
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}
.dataTables_filter input {
  display: inline-block;
  margin-left: .5em;
  width: auto;
}
.dataTables_filter .form-control-sm {
  border-radius: var(--bs-border-radius-sm);
  font-size: .75rem;
  min-height: calc(1.525rem + 2px);
  padding: .2rem .5rem;
  border-radius: 20px;
}

.active_status{background-color: #5cb85c;
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  font-size: 12px;
  width: 80px;text-align: center;}
  .pend_status{background-color: #f0ad4e;
  color: #fff;
  padding: 3px 15px;
  border-radius: 15px;
  font-size: 12px;
  width: 80px;text-align: center;}

  .pagination li a {
  color: #000;
  display: block;
  padding: .5rem .75rem;
  line-height: 1.25;
  border: 1px solid #dee2e6;
}
.pagination li.active a {
  background-color: #2E95B4;
  color: #fff;
}
.pagination li a, .pagination li.active a{
  text-decoration: none;
}
/* responsive */
@media screen and (min-width:1400px) {

}
@media screen and (min-width:1200px) and   (max-width:1399.98px) {
.about_btn {
  margin-top: 20px !important;
}
}
@media screen and (min-width:992px) and   (max-width:1199.98px) {
.about_btn {
 margin-top: 22px !important;
}
.about_btn {
  width: 50%;
}
#sidebar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
}
.user_table tbody tr td {
  font-size: 12px;
}
.user_table thead tr th {
  font-size: 13px;
}
.td-actions a {
  padding: 2px 7px;
}
.td-actions a i {
  font-size: 13px;
}
.side-navbar .navbar-toggler {
  background-color: #256B7F;
  border: 1px solid transparent;
}
.side-navbar {
  background-color: #2E95B4;
  transition: 0.5s;
  margin-bottom: 15px;
}
.navbar-expand-xl .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-expand-xl .navbar-nav {
  flex-direction: row;
}
.navbar-expand-xl .navbar-toggler {
  display: none;
}
.dp_contant h4 {
  line-height: 19px;
  font-size: 16px;
}
.dp_contant p {
  font-size: 12px;
}
.bc-r h5 {
  font-size: 18px;
}
}
@media screen  and (min-width:768px) and (max-width:991.98px) {
.about_btn {
 margin-top: 22px !important;
}
.intiative_box{margin-bottom: 25px;}
.about_btn {
  width: 60%;
}
#sidebar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
}
.user_table tbody tr td {
  font-size: 12px;
}
.user_table thead tr th {
  font-size: 13px;
}
.td-actions a {
  padding: 2px 7px;
}
.td-actions a i {
  font-size: 13px;
}
.side-navbar .navbar-toggler {
  background-color: #256B7F;
  border: 1px solid transparent;
}
.side-navbar {
  background-color: #2E95B4;
  transition: 0.5s;
  margin-bottom: 15px;
}
}
@media screen  and (min-width:576px) and (max-width:767.98px){
.intiative_box{margin-bottom: 25px;}
.author_img img {
  width: 60px;
}
.about_btn {
  margin-top: 5px !important;
}
.about_btn {
  width: 60%;
  padding: 0px 6px 0px 6px;
  font-size: 16px;
  height: 40px;
}
#sidebar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
}
.user_table tbody tr td {
  font-size: 12px;
}
.user_table thead tr th {
  font-size: 13px;
}
.td-actions a {
  padding: 2px 7px;
}
.td-actions a i {
  font-size: 13px;
}
.side-navbar .navbar-toggler {
  background-color: #256B7F;
  border: 1px solid transparent;
}
.side-navbar {
  background-color: #2E95B4;
  transition: 0.5s;
  margin-bottom: 15px;
}
}
@media screen  and (min-width:381px) and (max-width:575.98px){
.author_img img {
  width: 60px;
}
.about_btn {
  margin-top: 5px !important;
}
.about_btn {
  width: 60%;
  padding: 0px 6px 0px 6px;
  font-size: 16px;
  height: 40px;
}
.bc-r h5{font-size: 17px;}
.hg-s img {
  width: 50px;
}
.intiative_box{margin-bottom: 25px;}
#sidebar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
}
.serch_mobile{display: none;}
.user_table tbody tr td {
  font-size: 12px;
}
.user_table thead tr th {
  font-size: 13px;
}
.td-actions a {
  padding: 2px 7px;
}
.td-actions a i {
  font-size: 13px;
}
.side-navbar .navbar-toggler {
  background-color: #256B7F;
  border: 1px solid transparent;
}
.side-navbar {
  background-color: #2E95B4;
  transition: 0.5s;
  margin-bottom: 15px;
}
}
@media screen and (min-width:320px) and (max-width:380.98px) {
.author_img img {
  width: 60px;
}
.about_btn {
  margin-top: 5px !important;
}
.about_btn {
  width: 60%;
  padding: 0px 6px 0px 6px;
  font-size: 16px;
  height: 40px;
  font-size: 15px;
}
.bc-r h5{font-size: 17px;}
.hg-s img {
  width: 50px;
}
.intiative_box{margin-bottom: 25px;}
#sidebar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
  box-shadow: none;
}
.serch_mobile{display: none;}
.user_table tbody tr td {
  font-size: 12px;
}
.user_table thead tr th {
  font-size: 13px;
}
.td-actions a {
  padding: 2px 7px;
}
.td-actions a i {
  font-size: 13px;
}
}
